<app-resume-section sectionTitle="Profil">
  <p class="flex-1" [innerHTML]="resume().profile | simpleMarkdown"></p>
</app-resume-section>

<app-resume-section sectionTitle="Compétences techniques">
  <ul class="unordered-list">
    @for (category of skillsArray(); track category[0]) {
      @let title = category[0];
      @let rows = category[1];

      <app-resume-section-item [itemTitle]="title">
        @for (line of rows; track line[0]) {
          <li>
            {{ line.join(', ') }}
          </li>
        }
      </app-resume-section-item>
    }
  </ul>
</app-resume-section>

<app-resume-section sectionTitle="Formation">
  <ul class="unordered-list">
    @for (item of resume().education; track item.degree) {
      <app-resume-section-mdash-item
        [itemTitle]="item.school"
        [subtitle]="item.degree"
        [extra]="item.date"
      />
    }
  </ul>
</app-resume-section>

<app-resume-section sectionTitle="Expérience">
  <ul class="unordered-list">
    @for (item of resume().experience; track item.date) {
      <app-resume-section-item [itemTitle]="item.role" [itemsArray]="item.tasks">
        <p extra>
          <em class="italic">{{ item.company }}</em> | {{ item.date }}
        </p>
      </app-resume-section-item>
    }
  </ul>
</app-resume-section>

<app-resume-section sectionTitle="Projets">
  <ul class="unordered-list">
    @for (item of resume().projects; track item.title) {
      <app-resume-section-item [itemTitle]="item.title" [itemsArray]="item.highlights">
        <span titleExtra> | {{ item.date }} </span>
        <app-pill-list extra [values]="item.techs" />
      </app-resume-section-item>
    }
  </ul>
</app-resume-section>

<app-resume-section sectionTitle="Langues">
  <ul class="unordered-list">
    @for (language of resume().languages; track language.name; let i = $index) {
      <app-resume-section-mdash-item [itemTitle]="language.name" [subtitle]="language.level" />
    }
  </ul>
</app-resume-section>

<app-resume-section sectionTitle="Contacts">
  <ul class="flex-1 flex flex-col gap-1">
    @for (item of contacts(); track item.name) {
      <app-resume-section-item [itemTitle]="item.name">
        <span titleExtra>
          : <app-url class="text-base" [value]="item.url" [replacementText]="item.display" />
        </span>
      </app-resume-section-item>
    }
  </ul>
</app-resume-section>

<app-resume-section sectionTitle="Travaillons ensemble">
  <div class="flex-1 flex flex-col items-start gap-6">
    <p class="flex-none" [innerHTML]="endMessage() | simpleMarkdown"></p>
    <app-link class="flex-none button hover:underline" [value]="email()">Me contacter</app-link>
  </div>
</app-resume-section>
