<!-- Prend tout l'espace disponible, voir le .ts -->
<app-page-layout>
  <div top class="flex flex-col items-center text-center">
    <h1 class="text-5xl font-black tracking-tight">Frédéric Mac Conaill</h1>
    <p class="mt-4 text-xl opacity-90">Un étudiant en génie logiciel à Polytechnique Montréal;</p>
    <p class="text-xl opacity-90">
      passionné de jeux vidéos, de programmation et de conception de logiciels.
    </p>
    <img src="./assets/Photo.jpg" alt="Photo" class="mt-4 h-90 object-scale-down rounded-2xl" />
  </div>

  <div bottom class="flex-1 flex flex-col">
    <app-project-list class="flex-1 flex flex-col gap-8" />
  </div>
</app-page-layout>
