<div
  class="flex-none flex flex-col gap-3 relative card-hover hover:cursor-pointer"
  routerLink="/resume"
>
  <h1 class="text-2xl text-section-title font-bold">À propos de moi | CV</h1>
  <p class="text-base text-secondary leading-relaxed">
    Apprenez-en davantage sur moi, ma formation, mes expériences et mes intérêts.
  </p>
  <app-project-forward-button
    class="self-center card-btn-breakpoint:self-auto card-btn-breakpoint:absolute card-btn-breakpoint:top-0 card-btn-breakpoint:right-0 card-btn-breakpoint:mt-4 card-btn-breakpoint:mr-4"
  />
</div>
@if (projectList().length !== 0) {
  <div
    class="flex-auto grid gap-8 grid-cols-[repeat(auto-fit,minmax(21rem,1fr))] max-sm:grid-cols-1"
  >
    @for (project of projectList(); track project.title; let i = $index) {
      <app-project-preview [project]="project" />
    }
  </div>
}
