<div class="flex-none card-hover hover:cursor-pointer" routerLink="/resume">
  <h1 class="text-2xl text-section-title font-bold">À propos de moi | CV</h1>
  <p class="mt-3 text-base text-secondary leading-relaxed">
    Apprenez-en davantage sur moi, ma formation, mes expériences et mes intérêts.
  </p>
</div>
@if (projectList().length !== 0) {
  <div
    class="flex-auto grid gap-8 grid-cols-[repeat(auto-fit,minmax(21rem,1fr))] max-sm:grid-cols-1"
  >
    @for (project of projectList(); track project.title; let i = $index) {
      <app-project-preview [project]="project" />
    }
  </div>
}
