<a
  href="{{ project().url }}"
  target="_blank"
  rel="noopener noreferrer"
  class="h-full flex flex-col items-center card-hover"
>
  <!-- Image -->
  <img
    src="{{ project().preview }}"
    alt="Image de {{ project().name }}"
    class="h-50 object-scale-down rounded-2xl mb-4"
  />

  <!-- Contenu -->
  <div>
    <h1 class="text-2xl text-section-title font-bold">
      {{ project().name }}
    </h1>
    <p class="mt-3 text-base text-secondary leading-relaxed">
      {{ project().description }}
    </p>
  </div>

  <!-- Technologies -->
  <app-pill-list [values]="project().techs" class="self-baseline" />
</a>
