/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  /* This overrides Tailwind's default font-sans */
  --font-sans: 'Helvetica', ui-sans-serif, system-ui, sans-serif;

  --color-primary: white;
  --color-secondary: #4a5565;
  --color-section-title: black;
  --color-pill: #364153;
  --color-link: #155dfc;
  --color-border: #ddd;

  --color-card-bg: white;
  --color-footer-bg: #1d293d;
  --color-pill-bg: #f3f4f6;
  --color-button-bg: #2c3e50;

  --color-top-bg-init: #f6339a;
  --color-top-bg-mid: oklch(62.7% 0.265 303.9);
  --color-top-bg-end: oklch(71.5% 0.143 215.221);
  --color-bottom-bg-init: #6a7282;
  --color-bottom-bg-end: #4a5565;

  --animate-gradient-slow: gradient-move 12s ease infinite;

  /* Keyframes de l'animation */
  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@utility card-base {
  @apply p-6 bg-card-bg rounded-xl shadow-[0_4px_10px_rgba(0,0,0,0.1)];
}

@utility card-hover {
  @apply card-base transition duration-300;

  &:hover {
    @apply -translate-y-1.5 shadow-[0_10px_24px_rgba(0,0,0,0.15)];
  }
}

@utility button {
  @apply inline-flex items-center text-primary font-bold bg-button-bg rounded-lg pt-3 pb-3 pl-5 pr-5 hover:cursor-pointer transition-transform will-change-transform duration-300 hover:scale-105;
}

@utility unordered-list {
  @apply flex-1 flex flex-col gap-6;
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-sans);
  }
}
