/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  /* This overrides Tailwind's default font-sans */
  --font-sans: 'Helvetica', ui-sans-serif, system-ui, sans-serif;

  --color-primary: white;
  --color-secondary: #4a5565;
  --color-section-title: black;
  --color-pill: #364153;
  --color-link: #155dfc;

  --color-footer-bg: #1d293d;
  --color-pill-bg: #f3f4f6;

  --animate-gradient-slow: gradient-move 12s ease infinite;

  /* Keyframes de l'animation */
  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@utility card-base {
  @apply p-6 bg-white rounded-xl shadow-[0_4px_10px_rgba(0,0,0,0.1)];
}

@utility card-hover {
  @apply card-base transition duration-300;

  &:hover {
    @apply -translate-y-1.5 shadow-[0_10px_24px_rgba(0,0,0,0.15)];
  }
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-sans);
  }
}
